{
    "arm_base_ami_id": "ami-0aeaee482a16c861d",
    "base_ami_id": "ami-096800910c1b781ba",
    "region": "eu-west-1",
    "arm_instance_type": "t4g.micro",
    "instance_type": "t3.xlarge",
    "vpc_id": "vpc-xxxx",
    "subnet_id": "subnet-xxxx",
    "profile": "singlelog"
}